:root {
  --primary: #191919;
  --secondary: #ffffff;
  --accent: #5c75ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ffffff;
    --secondary: #191919;
    --accent: #5c75ff;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: var(--primary);
  background: var(--secondary);
  font-size: 16px;
}

.container {
  max-width: 940px;
  margin: auto;
}

a {
  text-decoration: none;
  color: unset;
}

.header {
  width: calc(100% - 2em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em auto auto 1em;
}

.header__logo {
  font-size: 2em;
  font-weight: 600;
  border-bottom: 3px solid var(--accent);
}

.header__menu {
  position: fixed;
  overflow: hidden;
  background: var(--secondary);
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px -5px 4px 0px #00000029;
          box-shadow: 0px -5px 4px 0px #00000029;
  z-index: 2;
}

.header__menulist {
  color: var(--primary);
  width: 100%;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__menuitem {
  list-style: none;
  display: inline-block;
  font-size: 0.8em;
  text-transform: uppercase;
}

.header__menuitem a {
  padding: 0.5em 1em;
  display: inline-block;
}

.header__icon {
  display: block;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-bottom: 5px;
  stroke: var(--primary);
}

.header__iconcaption {
  font-size: 1.1em;
}

.main {
  margin-bottom: 4em;
}

.section {
  text-align: center;
  margin: auto 1em;
  padding-top: 3em;
  padding-bottom: 3em;
  overflow: hidden;
}

.section--stretch {
  margin-left: 0;
  margin-right: 0;
}

.section__title {
  font-size: 5em;
  font-weight: 600;
  white-space: nowrap;
  color: var(--primary);
  opacity: 0.1;
  margin: 0.4em auto;
}

.section__title--inverted {
  color: var(--secondary);
}

.hero {
  text-align: left;
  position: relative;
}

.hero__title {
  font-weight: 400;
  font-size: 1.12em;
  line-height: 1.1;
}

.hero__title--light {
  font-weight: 300;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 2em;
}

.hero__subtitle em {
  font-weight: 600;
}

.hero__subtitle--accent {
  color: var(--accent);
}

.hero__scroll {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

.hero__scroll path {
  stroke: var(--primary);
}

.cards {
  padding-right: 3px;
  padding-left: 3px;
}

.cards--left {
  text-align: left;
}

.cards__card {
  outline: 3px solid;
  position: relative;
  padding: 1em;
  margin-bottom: 3em;
}

.cards__card--inverted {
  color: var(--secondary);
  margin: auto 1em;
  padding-bottom: 4em;
  font-size: 1.2em;
}

.cards__cardtitle {
  font-weight: 500;
  font-size: 1.3em;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  background: var(--secondary);
  position: absolute;
  top: -0.8em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cards__cardtitle--left {
  left: unset;
  -webkit-transform: unset;
          transform: unset;
}

.cards__cardtitle--accent {
  color: var(--accent);
  font-weight: 600;
}

.cards__cardimg {
  width: 100%;
}

.cards__list {
  list-style-type: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-columns: 2;
          columns: 2;
  text-align: left;
}

.cards__list--one-col {
  -webkit-columns: 1;
          columns: 1;
  list-style-type: unset;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.cards__cardsummary {
  text-align: left;
}

.cards__cardsummary summary {
  cursor: pointer;
}

.cards__toolkit {
  font-size: 1em;
  border-top: 1px solid;
  padding-top: 0.5em;
  margin: 1.5em auto;
}

.about {
  background: var(--primary);
}

.about__portrait {
  width: calc(100% - 6em);
  margin: 3em;
  margin-top: -1.4em;
}

.expand-summary {
  font-size: 0.7em;
  display: block;
  line-height: 2;
  color: #008eff;
}

.contact__form {
  text-align: left;
}

.contact__formlabel {
  display: block;
  margin-bottom: 4px;
}

.contact__forminput {
  display: block;
  width: calc(100%);
  border-radius: 0;
  border: 3px solid;
  margin-bottom: 1em;
  padding: 0.6em;
  font-size: 1em;
  background: var(--secondary);
}

.contact__forminput--large {
  min-height: 8em;
  max-height: 32em;
  resize: vertical;
  font-family: 'Raleway', sans-serif;
}

.contact__forminput--inverted {
  background: var(--primary);
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 5px;
  border: none;
}

.contact__forminput:hover {
  cursor: text;
}

.contact__forminput:focus {
  border: 3px solid var(--accent);
}

.contact__forminput[type=submit] {
  border: 3px solid var(--primary);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.contact__forminput[type=submit]:hover {
  border: 3px solid var(--accent);
}

.cards__cardsummary[open] summary ~ * {
  -webkit-animation: sweep .5s ease-in-out;
          animation: sweep .5s ease-in-out;
}

.cards__cardsummary[open] .expand-summary {
  display: none;
}

@media (min-width: 678px) {
  .section__title {
    font-size: 9em;
    margin-bottom: 20px;
  }
  .hero__subtitle {
    font-size: 3.5em;
  }
  .skills .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .skills .cards__card {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .skills .cards__card:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 1em;
    margin-right: 1em;
  }
  .skills .cards__card:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .skills .cards__card:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .skills .cards__list {
    -webkit-columns: unset;
            columns: unset;
    text-align: center;
  }
  .projects .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
  .about__portrait {
    width: 50%;
    margin-left: 40%;
    margin-top: -2em;
  }
  .about .cards__card--offcenter {
    width: 70%;
  }
  .contact__pair--stretch {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .contact__form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    -ms-grid-rows: 2fr 1fr;
        grid-template-rows: 2fr 1fr;
  }
  .contact__form input {
    max-height: 2.8em;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    cursor: pointer;
  }
}

@media (min-width: 960px) {
  body {
    font-size: 18px;
  }
  .section__title {
    font-size: 12em;
  }
  .hero__subtitle {
    font-size: 3.4em;
    font-weight: 500;
  }
  .header {
    margin: auto 1em 6em;
  }
  .header__logo {
    padding-top: 1rem;
  }
  .header__menu {
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .header__menuitem a {
    padding-top: 2rem;
    position: relative;
  }
  .header__menuitem a::before {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    -webkit-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease;
    position: absolute;
    top: 0;
    left: -0.25em;
  }
  .header__menuitem a:hover::before {
    width: 100%;
    background: var(--accent);
  }
  .header__menulist {
    display: block;
    text-align: right;
  }
  .header__icon {
    display: none;
  }
  .header__iconcaption {
    font-size: 1.2em;
    font-weight: 500;
  }
  .skills .cards__cardtitle {
    font-size: 1.6em;
  }
  .projects .cards {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -webkit-column-gap: 1em;
            column-gap: 1em;
    grid-row-gap: 1em;
        grid-template-areas: "one two three" "one four four" "five five six";
  }
  .projects .cards__card {
    margin-bottom: 10px;
  }
  .projects .cards__card:nth-of-type(1) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: one;
  }
  .projects .cards__card:nth-of-type(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: two;
  }
  .projects .cards__card:nth-of-type(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: three;
  }
  .projects .cards__card:nth-of-type(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: four;
  }
  .projects .cards__card:nth-of-type(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: five;
  }
  .projects .cards__card:nth-of-type(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: six;
  }
  .projects .cards__card:nth-of-type(2) .cards__cardimg, .projects .cards__card:nth-of-type(3) .cards__cardimg {
    display: block;
  }
  .projects .cards__card:nth-of-type(2) .cards__carddesc, .projects .cards__card:nth-of-type(3) .cards__carddesc {
    display: none;
  }
  .projects .cards__card:nth-of-type(2):hover > .cards__cardimg, .projects .cards__card:nth-of-type(3):hover > .cards__cardimg {
    display: none;
  }
  .projects .cards__card:nth-of-type(2):hover > .cards__carddesc, .projects .cards__card:nth-of-type(3):hover > .cards__carddesc {
    display: block;
  }
  .projects .cards__cardtitle {
    font-size: 1.1em;
  }
  .about__portrait {
    width: 40%;
    margin-left: 55%;
    margin-top: -10em;
  }
  .about .cards__card--offcenter {
    width: 60%;
  }
}

@-webkit-keyframes bounce {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bounce {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@-webkit-keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */