@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,400;1,700&display=swap')
    
\:root
    --primary: #191919
    --secondary: #ffffff
    --accent: #574AE2
    font-size: 16px
*
    box-sizing: border-box
body
    margin: 1em
    font-family: 'Raleway', sans-serif
a
    text-decoration: none
    color: unset

.header
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    &__logo
        font-size: 2em
        font-weight: 600
        border-bottom: 3px solid var(--accent)
    &__menu
        position: fixed
        overflow: hidden
        background: var(--secondary)
        bottom: 0
        right: 0
        width: 100vw
        padding: 0em
        display: flex
        justify-content: space-between
        box-shadow: 0px -5px 4px 0px #00000029
        z-index: 2
    &__menulist
        color: var(--primary)
        width: 100vw
        padding-inline-start: 0
        margin-block-start: 0
        margin-block-end: 0
        display: flex
        justify-content: space-around
    &__menuitem
        list-style: none
        display: inline-block
        font-size: 0.8em
        text-transform: uppercase
        a
            padding: 0.5em 1em
            display: inline-block
    &__icon
        display: block
        margin-left: 50%
        transform: translateX(-50%)
        padding-bottom: 5px
        &caption
            font-size: 1.1em

.section
    text-align: center
    margin: 6em auto
    &__title
        font-size: 5em
        font-weight: 600
        white-space: nowrap
        color: var(--primary)
        opacity: 0.1
        margin: 0.4em auto
  
.hero
    text-align: left
    &__title
        font-weight: 400
        font-size: 1.12em
        line-height: 1.1
        &--light
            font-weight: 300
    &__subtitle
        font-weight: 400
        font-size: 2em
        em
            font-weight: 600

.cards
    &--left
        text-align: left
    &__card
        outline: 3px solid
        position: relative
        padding: 1em
        margin-bottom: 3em
    &__cardtitle
        font-weight: 600
        font-size: 1.3em
        text-transform: uppercase
        margin: 0
        padding-left: 10px
        padding-right: 10px
        background: var(--secondary)
        position: absolute
        top: -0.8em
        left: 50%
        transform: translateX(-50%)
        &--left
            left: unset
            transform: unset
        &--accent
            color: var(--accent)
    &__list
        list-style-type: none
        margin-block-start: 0
        margin-block-end: 0
        padding-inline-start: 0
        columns: 2
        text-align: left
    &__toolkit
        font-size: 1em
        border-top: 1px solid
        padding-top: 0.5em
        margin: 1.5em auto 